<div class="main">

  <mat-tab-group>
    <mat-tab label="საგადასახადო დავალება">
      <div class="menu">
        <div class="section1">
          <button mat-button><i class="material-icons">
              create_new_folder
            </i></button>
          <button mat-button><i class="material-icons">
              folder_open
            </i></button>
          <button mat-button><i class="material-icons">
              delete_forever
            </i></button>
          <button mat-button><i class="material-icons">
              file_copy
            </i></button>
        </div>
        <div class="section2">
          <button mat-button><i class="material-icons">
              present_to_all
            </i></button>
          <button mat-button><i class="material-icons">
              print
            </i></button>
          <button mat-button><i class="material-icons">
              search
            </i></button>
          <button mat-button><i class="material-icons">
              filter_list
            </i></button>
          <button mat-button><i class="material-icons">
              format_shapes
            </i></button>
        </div>
        <div class="section3">
          <button mat-button><i class="material-icons">
              account_balance
            </i></button>
          <button mat-button><i class="material-icons">
              cached
            </i></button>
        </div>
      </div>

      <div class="tableContainer">
        <span>here goes table !!!</span>
      </div>
    </mat-tab>
    <mat-tab label="სავალუტო დავალება">
      <div class="menu">
        <div class="section1">
          <button mat-button><i class="material-icons">
              create_new_folder
            </i></button>
          <button mat-button><i class="material-icons">
              folder_open
            </i></button>
          <button mat-button><i class="material-icons">
              delete_forever
            </i></button>
          <button mat-button><i class="material-icons">
              file_copy
            </i></button>
        </div>
        <div class="section2">
          <button mat-button><i class="material-icons">
              present_to_all
            </i></button>
          <button mat-button><i class="material-icons">
              print
            </i></button>
          <button mat-button><i class="material-icons">
              search
            </i></button>
          <button mat-button><i class="material-icons">
              filter_list
            </i></button>
          <button mat-button><i class="material-icons">
              format_shapes
            </i></button>
        </div>
        <div class="section3">
          <button mat-button><i class="material-icons">
              account_balance
            </i></button>
          <button mat-button><i class="material-icons">
              cached
            </i></button>
        </div>
      </div>

      <div class="tableContainer">
        <span>here goes table !!!</span>
      </div>
    </mat-tab>
    <mat-tab label="ანგარიშ-ფაქტურა">
      <div class="menu">
        <div class="section1">
          <button mat-button><i class="material-icons">
              create_new_folder
            </i></button>
          <button mat-button><i class="material-icons">
              folder_open
            </i></button>
          <button mat-button><i class="material-icons">
              delete_forever
            </i></button>
          <button mat-button><i class="material-icons">
              file_copy
            </i></button>
        </div>
        <div class="section2">
          <button mat-button><i class="material-icons">
              present_to_all
            </i></button>
          <button mat-button><i class="material-icons">
              print
            </i></button>
          <button mat-button><i class="material-icons">
              search
            </i></button>
          <button mat-button><i class="material-icons">
              filter_list
            </i></button>
          <button mat-button><i class="material-icons">
              format_shapes
            </i></button>
        </div>
        <div class="section3">
          <button mat-button><i class="material-icons">
              cached
            </i></button>
        </div>
      </div>

      <div class="tableContainer">
        <span>here goes table !!!</span>
      </div>
    </mat-tab>
    <mat-tab label="გასავლის-ფაქტურა">
      <div class="menu">
        <div class="section1">
          <button mat-button><i class="material-icons">
              create_new_folder
            </i></button>
          <button mat-button><i class="material-icons">
              folder_open
            </i></button>
          <button mat-button><i class="material-icons">
              delete_forever
            </i></button>
          <button mat-button><i class="material-icons">
              file_copy
            </i></button>
        </div>
        <div class="section2">
          <button mat-button><i class="material-icons">
              present_to_all
            </i></button>
          <button mat-button><i class="material-icons">
              print
            </i></button>
          <button mat-button><i class="material-icons">
              search
            </i></button>
          <button mat-button><i class="material-icons">
              filter_list
            </i></button>
          <button mat-button><i class="material-icons">
              format_shapes
            </i></button>
        </div>
        <div class="section3">
          <button mat-button><i class="material-icons">
              cached
            </i></button>
        </div>
      </div>

      <div class="tableContainer">
        <span>here goes table !!!</span>
      </div>
    </mat-tab>
    <mat-tab label="სალაროს შემოსავლის ორდერი">
      <div class="menu">
        <div class="section1">
          <button mat-button><i class="material-icons">
              create_new_folder
            </i></button>
          <button mat-button><i class="material-icons">
              folder_open
            </i></button>
          <button mat-button><i class="material-icons">
              delete_forever
            </i></button>
          <button mat-button><i class="material-icons">
              file_copy
            </i></button>
        </div>
        <div class="section2">
          <button mat-button><i class="material-icons">
              present_to_all
            </i></button>
          <button mat-button><i class="material-icons">
              print
            </i></button>
          <button mat-button><i class="material-icons">
              search
            </i></button>
          <button mat-button><i class="material-icons">
              filter_list
            </i></button>
          <button mat-button><i class="material-icons">
              format_shapes
            </i></button>
        </div>
        <div class="section3">
          <button mat-button><i class="material-icons">
              cached
            </i></button>
        </div>
      </div>

      <div class="tableContainer">
        <span>here goes table !!!</span>
      </div>
    </mat-tab>
    <mat-tab label="სალაროს გასვლის ორდერი">
      <div class="menu">
        <div class="section1">
          <button mat-button><i class="material-icons">
              create_new_folder
            </i></button>
          <button mat-button><i class="material-icons">
              folder_open
            </i></button>
          <button mat-button><i class="material-icons">
              delete_forever
            </i></button>
          <button mat-button><i class="material-icons">
              file_copy
            </i></button>
        </div>
        <div class="section2">
          <button mat-button><i class="material-icons">
              present_to_all
            </i></button>
          <button mat-button><i class="material-icons">
              print
            </i></button>
          <button mat-button><i class="material-icons">
              search
            </i></button>
          <button mat-button><i class="material-icons">
              filter_list
            </i></button>
          <button mat-button><i class="material-icons">
              format_shapes
            </i></button>
        </div>
        <div class="section3">
          <button mat-button><i class="material-icons">
              cached
            </i></button>
        </div>
      </div>

      <div class="tableContainer">
        <span>here goes table !!!</span>
      </div>
    </mat-tab>
    <mat-tab label="სასაქონლო ზედნადები">
      <div class="menu">
        <div class="section1">
          <button mat-button><i class="material-icons">
              create_new_folder
            </i></button>
          <button mat-button><i class="material-icons">
              folder_open
            </i></button>
          <button mat-button><i class="material-icons">
              delete_forever
            </i></button>
          <button mat-button><i class="material-icons">
              file_copy
            </i></button>
        </div>
        <div class="section2">
          <button mat-button><i class="material-icons">
              present_to_all
            </i></button>
          <button mat-button><i class="material-icons">
              print
            </i></button>
          <button mat-button><i class="material-icons">
              search
            </i></button>
          <button mat-button><i class="material-icons">
              filter_list
            </i></button>
          <button mat-button><i class="material-icons">
              format_shapes
            </i></button>
        </div>
        <div class="section3">
          <button mat-button><i class="material-icons">
              cached
            </i></button>
        </div>
      </div>

      <div class="tableContainer">
        <span>here goes table !!!</span>
      </div>
    </mat-tab>
  </mat-tab-group>


</div>