/* .main{
    width: 41.6vw;
    height: 86vh;
    padding: 1%;
} */

.inputs{
    display: inline-block;
    width: 100%;
    margin-top: 5%;
}

.inputs mat-form-field{
    width: 48%;
}

.inputs mat-form-field:nth-child(2){
    margin-left: 1%;
}

.buttons{
    width: 100%;
    margin-top: 5%;
}

.buttons button{
    float: right;
}

