<div class="main">
  <mat-tab-group>
    <mat-tab label="შესრულება">
      <div class="container1">
        <div class="folders">
          aq aris xe !!!

        </div>
        <div class="buttons1">
          <button mat-button>bug</button>
          <button mat-button>tree</button>
        </div>

      </div>
      <div class="container2">
        <mat-tab-group>
          <mat-tab label="ოპერაციები">
            <div class="topButtons1">
              <button mat-button> T</button>
              <button mat-button> T</button>
              <button mat-button> T</button>
              <button mat-button> T</button>
              <button mat-button> T</button>
              <button mat-button> T</button>
              <button mat-button> T</button>
              <button mat-button> T</button>
              <button mat-button> T</button>
            </div>
            <div class="tableContainer">

            </div>
          </mat-tab>
          <mat-tab label="გატარებები">
            <div class="topButtons">
              <button mat-button> T</button>
              <button mat-button> T</button>
              <button mat-button> T</button>
            </div>
            <div class="tableContainer">

            </div>
          </mat-tab>
        </mat-tab-group>

      </div>
    </mat-tab>
    <mat-tab label="აწყობა">
      <div class="topButtons2">
        <button mat-button><i class="material-icons">
            menu
          </i></button>
        <button mat-button> <i class="material-icons">
            menu_open
          </i></button>
        <button mat-button> 11111</button>
        <button mat-button> 11111</button>
        <button mat-button> 11111</button>
        <button mat-button> 11111</button>
        <button mat-button> 11111</button>
        <button mat-button> 11111</button>
        <button mat-button> 11111</button>
        <button mat-button> 11111</button>
        <button mat-button> 11111</button>
        <button mat-button> 11111</button>
        <button mat-button> 11111</button>
        <button mat-button> 11111</button>
        <button mat-button> 11111</button>
        <button mat-button> 11111</button>
        <button mat-button> 11111</button>
        <button mat-button> 11111</button>
        <button mat-button> 11111</button>
        <button mat-button> 11111</button>
        <button mat-button> 11111</button>
        <button mat-button> 11111</button>
      </div>
      <div class="divContainer">
        <div class="leftDiv">
          aq xe iqneba !!!
        </div>
        <div class="rightDiv">
          <button mat-button> 11111</button>
          <button mat-button> 11111</button>
          <button mat-button> 11111</button>
          <button mat-button> 11111</button>
          <button mat-button> 11111</button>
          <button mat-button> 11111</button>
          <button mat-button> 11111</button>
          <button mat-button> 11111</button>
          <button mat-button> 11111</button>
          <button mat-button> 11111</button>
          <button mat-button> 11111</button>
        </div>

      </div>
    </mat-tab>
  </mat-tab-group>
</div>