<h1 mat-dialog-title> საქონლის დამატება</h1>
<div mat-dialog-content class="main">
  <div class="leftDIv">

    <div class="fields">
      <span>ძირითადი საშუალება</span>
      <mat-checkbox value="before"></mat-checkbox>
      <div class="combinedDiv">
        <!-- <mat-checkbox value="before"></mat-checkbox> -->
        <span class="specialSpan">კოდი</span>
        <input class="specialInput" type="text">
      </div>
    </div>

    <div class="fields">
      <span>დასახელება</span>
      <div class="combinedDiv">
        <input type="text">
      </div>
    </div>

    <div class="fields">
      <span>სასაქონლო ჯგუფი</span>
      <div class="combinedDiv">
        <input type="text">
        <button mat-button>...</button>
      </div>
    </div>

    <div class="fields">
      <span>მინიმალური ერთეული</span>
      <div class="combinedDiv">
        <input type="text">
      </div>
    </div>

    <div class="fields">
      <span>გაყიდვის ფასი</span>
      <div class="combinedDiv">
        <input type="text">
      </div>
    </div>

    <div class="fields">
      <span>ანგარიში</span>
      <div class="combinedDiv">
        <input type="text">
        <button mat-button>...</button>
      </div>
    </div>


  </div>
  <div class="rightDiv">
    <mat-tab-group>

      <mat-tab label="გვერდი 1">

        <div class="tabLeft">
          <p>სხვა ერთეული</p>
          <input type="text">
          <input type="text">
        </div>

        <div class="tabRight">
          <p>რაოდენობა ერთეულში</p>
          <input type="text" value="0">
          <input type="text" value="0">
        </div>

      </mat-tab>

      <mat-tab label="გვერდი 2">
        <div class="tabLeft">
          <p>სხვა ერთეული</p>
          <input type="text">
          <input type="text">
        </div>

        <div class="tabRight">
          <p>რაოდენობა ერთეულში</p>
          <input type="text" value="0">
          <input type="text" value="0">
        </div>
      </mat-tab>
      <mat-tab label="გვერდი 3">
        <div class="tabLeft">
          <p>სხვა ერთეული</p>
          <input type="text">
          <input type="text">
        </div>

        <div class="tabRight">
          <p>რაოდენობა ერთეულში</p>
          <input type="text" value="0">
          <input type="text" value="0">
        </div>
      </mat-tab>
      <mat-tab label="გვერდი 4">
        <div class="tabLeft">
          <p>სხვა ერთეული</p>
          <input type="text">
          <input type="text">
        </div>

        <div class="tabRight">
          <p>რაოდენობა ერთეულში</p>
          <input type="text" value="0">
          <input type="text" value="0">
        </div>
      </mat-tab>
      <mat-tab label="გვერდი 5">
        <div class="tabLeft">
          <p>სხვა ერთეული</p>
          <input type="text">
          <input type="text">
        </div>

        <div class="tabRight">
          <p>რაოდენობა ერთეულში</p>
          <input type="text" value="0">
          <input type="text" value="0">
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>
<div class="buttonDiv">
    <button mat-button>OK</button>
    <button mat-button>Cancel</button>
  </div>