.main{
    width: 100%;
}

.main .topMenu{
    height: 7vh;
}

.main .section1{
    padding: 1%;
    float: left;
    margin-top: 0.5%;
    height: 100%;
    border-right: 5px solid gainsboro;
}

.main .section2{
    padding: 1%;
    float: left;
    margin-top: 0.5%;
    height: 100%;
    border-right: 5px solid gainsboro;
}

.main .section3{
    padding: 1%;
    float: left;
    margin-top: 0.5%;
    height: 100%;
    border-right: 5px solid gainsboro;
}

.main .section4{
    padding: 1%;
    float: left;
    margin-top: 0.5%;
    height: 100%;
    border-right: 5px solid gainsboro;
}

.main .section5{
    padding: 0.5%;
    float: left;
    height: 100%;
}

.main .section5 mat-checkbox{
    display: block;
}

.mat-dialog-content {
    display: block;
    margin: unset;
    padding: unset;
    max-height: unset;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}