<div class="main">
  <div class="topMenu">
    <div class="section1">
      <button mat-button matTooltip=""><i class="material-icons">
          note_add
        </i></button>
      <button mat-button><i class="material-icons">
          title
        </i></button>
      <button mat-button><i class="material-icons">
          folder_open
        </i></button>
      <button mat-button><i class="material-icons">
          delete
        </i></button>
      <button mat-button><i class="material-icons">
          file_copy
        </i></button>
      <!-- <button mat-button>open</button> -->

    </div>
    <div class="section2">
      <button mat-button matTooltip=""><i class="material-icons">
          print
        </i></button>
      <button mat-button><i class="material-icons">
          search
        </i></button>
      <button mat-button><i class="material-icons">
          filter_list
        </i></button>
      <button mat-button><i class="material-icons">
          sort_by_alpha
        </i></button>
      <button mat-button><i class="material-icons">
          exit_to_app
        </i></button>
    </div>
    <div class="section3">
      <button mat-button matTooltip=""><i class="material-icons">
          print
        </i></button>
      <button mat-button><i class="material-icons">
          search
        </i></button>
      <button mat-button><i class="material-icons">
          filter_list
        </i></button>
      <button mat-button><i class="material-icons">
          sort_by_alpha
        </i></button>
    </div>
    <div class="section4">
      <button mat-button matTooltip=""><i class="material-icons">
          print
        </i></button>
      <button mat-button><i class="material-icons">
          search
        </i></button>
      <button mat-button><i class="material-icons">
          filter_list
        </i></button>
      <button mat-button><i class="material-icons">
          sort_by_alpha
        </i></button>
      <button mat-button><i class="material-icons">
          sort_by_alpha
        </i></button>

    </div>
    <div class="section5">
      <mat-checkbox>ნომინალში</mat-checkbox>
      <mat-checkbox>ექვივალენტში</mat-checkbox>

    </div>

  </div>
  <div class="tableContainer">

  </div>
  <div class="bottomContainer">

  </div>
</div>