.div1{
    display: flex;
    justify-content: flex-end;
    padding-right: 15%;
}

.div1 mat-form-field{
    width: 15%;
    margin-left: 2%;
}

.div2{
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
}

.div2 mat-form-field:nth-child(2){
    width: 33.5%;
    margin-left: 2%;
}

.div2 mat-form-field:nth-child(5){
    width: 15%;
    margin-left: 2%;
}

.div3{
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
}

.div3 mat-form-field{
    width: 65%;
    margin-left: 2%;
}

.div4{
    display: flex;
    justify-content: flex-end;
    padding-right: 26%;
}

.div4 mat-form-field:nth-child(2){
    width: 21.5%;
    margin-left: 2%;
}

.div4 mat-form-field:nth-child(3){
    width: 20%;
    margin-left: 2%;
}

.div5{
    display: flex;
    justify-content: baseline;
    padding-right: 5%;
    padding-left: 5%;
}

.div5 mat-form-field{
    width: 100%;
}

.div6{
    display: flex;
    justify-content: flex-end;
}

.div6 mat-form-field{
    width: 65%;
    margin-left: 2%;
}

.div7{
    display: flex;
    justify-content: flex-end;
}

.div7 mat-form-field:nth-child(2){
    width: 39.5%;
    margin-left: 2%;
}

.div7 mat-form-field:nth-child(4){
    width: 25%;
    margin-left: 2%;
}

.div8{
    display: flex;
    justify-content: flex-end;
}

.div8 p:nth-child(3){
margin-left: 30%;
}

.div8 mat-form-field:nth-child(2){
    width: 10%;
    margin-left: 2%;
}

.div8 mat-form-field:nth-child(4){
    width: 10%;
    margin-left: 2%;
}

.div9{
    display: flex;
    justify-content: flex-end;
    padding-right: 33.5%;
}

.div9 mat-form-field{
    width: 35%;
    margin-left: 2%;
}

.div10{
    display: flex;
    justify-content: flex-end;
    padding-right: 25%;
}

.div10 mat-form-field{
    width: 64.5%;
    margin-left: 2%;
}

.div11{
    display: flex;
    justify-content: flex-end;
}

.div11 mat-form-field:nth-child(2){
    width: 30%;
    margin-left: 2%;
}

.div11 mat-form-field:nth-child(4){
    width: 13%;
    margin-left: 2%;
}

.div12{
    display: flex;
    justify-content: flex-end;
}

.div12 mat-form-field:nth-child(2){
    width: 39%;
    margin-left: 2%;
}

.div12 mat-form-field:nth-child(4){
    width: 20%;
    margin-left: 2%;
}

.div13{
    display: flex;
    justify-content: flex-end;
}

.div13 mat-form-field{
    width: 64.5%;
    margin-left: 2%;
}

.div14{
    display: flex;
    justify-content: flex-end;
}

.div14 mat-form-field:nth-child(2){
    width: 55%;
    margin-left: 2%;
}

.div14 mat-form-field:nth-child(4){
    width: 13%;
    margin-left: 2%;
}

.div15{
    display: flex;
    justify-content: flex-end;
}

.div15 mat-form-field{
    width: 15%;
    margin-left: 2%;
}

.div16{
    display: flex;
    justify-content: flex-end;
}

.div16 mat-form-field{
    width: 15%;
    margin-left: 2%;
}

.div17{
    display: flex;
    justify-content: flex-end;
}

.div17 mat-form-field{
    width: 25%;
    margin-left: 2%;
}